@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.brutalButton {
  @apply absolute right-4 p-1 border-white rounded-md bg-white text-black shadow-brutal hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all duration-100;
}

.brutalButtonMainLinks {
  @apply absolute right-0 left-0 p-1 border-white rounded-md bg-white text-black shadow-brutal hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all duration-100;
}

.brutalButtonMiddle {
  @apply absolute right-[48%] p-1 border-white rounded-md bg-white text-black shadow-brutal hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all duration-100;
}

.create {
  @apply -right-20 border-[3px] duration-200;
}

.form {
  @apply right-[8.5rem] mt-4;
}

:root {
  --bg: #9dc4f3;
  --grad: linear-gradient(45deg, #599beb, #6059eb);
}

.text-gradient {
  background: var(--grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For modern browsers */
  text-fill-color: transparent;
}

html {
  font-family: "Manrope", sans-serif;
  background-color: #1a1f23;
  color: white;
}
