@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #22658f;
  --text: black;
  --text-: white;
}

/* .dark {
  --main: #fff;
  --text: white;
} */

* {
  font-family: "Catamaran", serif;
  overflow: hidden;
  border-style: solid;
  border-color: var(--text);
  color: var(--text);
  background-color: var(--text-);
  transition: all;
  transition-duration: 200ms;
}

.brutalButton {
  border: 2px solid;
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.3em 0.3em 0px 0 var(--text);
  transition: transform, box-shadow;
  transition-duration: 200ms;
  transform: translate(0);
}

.brutalButton:hover {
  transform: translate(5%, 10%);
  box-shadow: 0 0 0px;
}
